@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9916 0.0017 67.8029);
	--foreground: oklch(0.2882 0.008 59.3521);
	--card: oklch(0.9916 0.0017 67.8029);
	--card-foreground: oklch(0.2882 0.008 59.3521);
	--popover: oklch(0.9916 0.0017 67.8029);
	--popover-foreground: oklch(0.2882 0.008 59.3521);
	--primary: oklch(0.676 0.1135 157.2828);
	--primary-foreground: oklch(0.9916 0.0017 67.8029);
	--secondary: oklch(0.9354 0.0067 160.0693);
	--secondary-foreground: oklch(0.2882 0.008 59.3521);
	--muted: oklch(0.9644 0.0029 84.559);
	--muted-foreground: oklch(0.5209 0.012 67.5605);
	--accent: oklch(0.9491 0.0142 74.4236);
	--accent-foreground: oklch(0.2882 0.008 59.3521);
	--destructive: oklch(0.5754 0.1484 22.9378);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8988 0.0063 75.403);
	--input: oklch(0.8988 0.0063 75.403);
	--ring: oklch(0.552 0.0417 160.5126);
	--chart-1: oklch(0.552 0.0417 160.5126);
	--chart-2: oklch(0.6553 0.0569 73.9976);
	--chart-3: oklch(0.6598 0.0495 119.8126);
	--chart-4: oklch(0.75 0.0861 65.2985);
	--chart-5: oklch(0.856 0.0532 118.0893);
	--sidebar: oklch(0.9916 0.0017 67.8029);
	--sidebar-foreground: oklch(0.2882 0.008 59.3521);
	--sidebar-primary: oklch(0.552 0.0417 160.5126);
	--sidebar-primary-foreground: oklch(0.9916 0.0017 67.8029);
	--sidebar-accent: oklch(0.9491 0.0142 74.4236);
	--sidebar-accent-foreground: oklch(0.552 0.0417 160.5126);
	--sidebar-border: oklch(0.8988 0.0063 75.403);
	--sidebar-ring: oklch(0.552 0.0417 160.5126);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Merriweather, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 0px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: transparent;
	--shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--tracking-normal: 0.01em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2142 0.0025 67.6928);
	--foreground: oklch(0.9644 0.0029 84.559);
	--card: oklch(0.2142 0.0025 67.6928);
	--card-foreground: oklch(0.9644 0.0029 84.559);
	--popover: oklch(0.2142 0.0025 67.6928);
	--popover-foreground: oklch(0.9644 0.0029 84.559);
	--primary: oklch(0.7293 0.0469 159.18);
	--primary-foreground: oklch(0.2142 0.0025 67.6928);
	--secondary: oklch(0.2904 0.0046 67.644);
	--secondary-foreground: oklch(0.9644 0.0029 84.559);
	--muted: oklch(0.2904 0.0046 67.644);
	--muted-foreground: oklch(0.7017 0.0104 72.6211);
	--accent: oklch(0.3192 0.0068 67.5818);
	--accent-foreground: oklch(0.9644 0.0029 84.559);
	--destructive: oklch(0.7045 0.1313 20.9338);
	--destructive-foreground: oklch(0.2142 0.0025 67.6928);
	--border: oklch(0.3192 0.0068 67.5818);
	--input: oklch(0.3192 0.0068 67.5818);
	--ring: oklch(0.7293 0.0469 159.18);
	--chart-1: oklch(0.7293 0.0469 159.18);
	--chart-2: oklch(0.7713 0.0544 78.177);
	--chart-3: oklch(0.728 0.0535 117.4036);
	--chart-4: oklch(0.81 0.0716 68.6193);
	--chart-5: oklch(0.8922 0.0472 116.5491);
	--sidebar: oklch(0.2142 0.0025 67.6928);
	--sidebar-foreground: oklch(0.9644 0.0029 84.559);
	--sidebar-primary: oklch(0.7293 0.0469 159.18);
	--sidebar-primary-foreground: oklch(0.2142 0.0025 67.6928);
	--sidebar-accent: oklch(0.2904 0.0046 67.644);
	--sidebar-accent-foreground: oklch(0.7293 0.0469 159.18);
	--sidebar-border: oklch(0.3192 0.0068 67.5818);
	--sidebar-ring: oklch(0.7293 0.0469 159.18);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Merriweather, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 0px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: transparent;
	--shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0);
}

@theme inline {
	--font-google: var(--font-google-sans-flex), sans-serif;
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply font-sans bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}

body {
	letter-spacing: var(--tracking-normal);
}
